/*Stylesheet typography organization */

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

/* Utility classes */

.pt150 {
  padding-top: 150px;
}

.pt80 {
  padding-top: 80px;
}

.pl50 {
  padding-left: 50px;
}

.mt50 {
  margin-top: 50px;
}

.pl30 {
  padding-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.pb20 {
  padding-bottom: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pl0 {
  padding-left: 0;
}

.caps-weight {
  font-weight: 600;
  text-transform: uppercase;
}

.mid-weight {
  font-weight: 400;
}

.center {
  text-align: center;
}

.lg-line-sp {
  line-height: 1.8rem;
}

.sm-subhead {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}

.grey {
  color: #868686;
}

/* Hero area styling */

.nav-elements {
  float: right;
  padding: 30px 0 0 0;
}

.nav-elements a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-elements li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.bg-wrap {
  background-image: url("../images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-width: 100%;
  height: 800px;
}

.name-headline {
  color: #DCDCDC;
  padding: 0 0 10px 0;
}

.name-headline span {
  color: #7C4FF8;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.subhead-hero {
  color: #DCDCDC;
  font-weight: 300;
  padding: 0 0 80px 0;
}

.grey-arrow {
  color: #DCDCDC;
  font-size: 3.3em;
  padding: 120px 0 0 0;
}

/*link styling*/

.gen-body-link {
  color: #7C4FF8;
}

.gen-body-link:hover {
  color: #7C4FF8;
  text-decoration: none;
}

/*button styling*/

.primary-btn {
  padding: 12px 40px 12px 40px;
  border-radius: 28px;
  background-image: linear-gradient(261deg, #ac77ff, #7442ff);
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s ease;
}

.primary-btn:hover{
  color: #fff;
  text-decoration: none;
  box-shadow: 8px 12px 14px 0 rgba(56, 55, 55, 0.5);
  background-image: linear-gradient(81deg, #ac77ff, #7442ff);
}

.secondary-btn {
  padding: 12px 40px 12px 40px;
  border-radius: 28px;
  background-image: linear-gradient(254deg, #e9dfff, #cebcff);
  color: #7C4FF8;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.3s ease;
}

.tertiary-btn {
  background-color: transparent;
  padding: 12px 40px 12px 40px;
  border-radius: 28px;
  border: 1px solid #7B49FF;
  color: #7B49FF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  transition: 0.3s ease;
}

.tertiary-btn:hover {
  text-decoration: none;
  color: #7B49FF;
}

.secondary-btn:hover{
  color: #7C4FF8;
  text-decoration: none;
  box-shadow: 8px 12px 14px 0 rgba(56, 55, 55, 0.5);
  background-image: linear-gradient(74deg, #e9dfff, #cebcff);
}

/*Bio styling */

.summary {
  color: #868686;
  font-weight: 300;
  line-height: 2rem;
}

.pull-indent {
  margin-top: 40px;
  border-left: 3px solid #7C4FF8;
  color: #868686;
}

.tyler {
  display: inline;
  text-align: center;
}

.tyler img {
  width: 200px;
}

/*Home page work styles */
.work-wrap {
  background-image: url("../images/port-bg2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  max-width: 100%;
  height: 2250px;
}

.projects-header {
  margin: 250px 0 0 0;
  text-align: center;
  color: #7C4FF8;
  font-weight: 900;
}

hr {
  border-top: 2px solid #7C4FF8;
  width: 80px;
  padding-bottom: 75px;
}

.client-name {
  color: #868686;
  margin-bottom: 5px;
}

.project-name {
  color: #868686;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 3.3rem;
}

.project-summary {
  font-weight: 300;
  color: #868686;
  margin-bottom: 80px;
}

.afs-preview {
  background-image: linear-gradient(314deg, #a5c1fb, #3c7af6);
  height: 480px;
  z-index: 1;
  position: relative;
}

.afs-preview img {
  width: 650px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.brunch-preview {
  background-image: linear-gradient(314deg, #f74f2485, #fc874a);
  height: 480px;
  z-index: 1;
  position: relative;
}

.brunch-preview img {
  width: 550px;
  position: absolute;
  bottom: 0;
  left: -50px;
}

.h-inn-preview {
  background-image: linear-gradient(314deg, #8ED6F2, #8EEAF2);
  height: 480px;
  z-index: 1;
  position: relative;
}

.h-inn-preview img {
  width: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.preview-pad {
  padding-top: 50px;
}

/*Footer styling*/

.pseudo-foot {
  background-color: #E1E1E1;
  padding: 30px 0 50px 0;
}

.sign-off {
  color: #7B49FF;
  font-weight: 500;
  padding-bottom: 20px;
}

footer {
  background-image: linear-gradient(261deg, #ac77ff, #7442ff);
  color: #fff;
  padding: 20px 0 10px 0;
}

footer a {
  border-bottom: 1px solid #fff;
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}


/*specific case study styles */

/*ACCENTURE*/

.afs-wrap {
  background-image: url("../images/afs-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-width: 100%;
  height: 800px;
}

.case-intro {
  margin-bottom: 50px;
}

.case-title {
  color: #fff;
  padding: 0 0 30px 0;
}

.case-category {
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.8em;
}

.case-value {
  color: #fff;
  font-weight: 300;
}

.afs-hero img{
  width: 300px;
  position: absolute;
  right: 90px;
  top: -150px;
}

.afs-blue {
  color: #3F76E6;
}

.wf-screenshot img{
  width: 350px;
}

.wf-screenshot-lg img{
  width: 540px;
}

.case-wrap {
  background-image: url("../images/case-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  max-width: 100%;
  height: 2250px;
  padding: 40px 0 0 0;
}
