/*Stylesheet typography organization */

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* ::selection {
  background-color: #a786ff;
} */

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Utility classes */

.mt170 {
  margin-top: 170px;
}

.pt150 {
  padding-top: 150px;
}

.mt100 {
  margin-top: 100px;
}

.pr90 {
  padding-right: 90px;
}

.mt80 {
  margin-top: 80px;
}

.pt80 {
  padding-top: 80px;
}

.pl50 {
  padding-left: 50px;
}

.mt50 {
  margin-top: 50px;
}

.pt30 {
  padding-top: 30px;
}

.pl30 {
  padding-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.mt30 {
  margin-top: 30px;
}

.pb20 {
  padding-bottom: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pl10 {
  padding-left: 10px;
}

.pl0 {
  padding-left: 0;
}

.caps-weight {
  font-weight: 600;
  text-transform: uppercase;
}

.mid-weight {
  font-weight: 400;
}

.center {
  text-align: center;
}

.lg-line-sp {
  line-height: 1.8rem;
}

.sm-subhead {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}

.grey {
  color: #868686;
}

/* Hero area styling */

.tb-logo {
  width: 45px;
  margin-top: 20px;
}

.nav-elements {
  float: right;
  padding: 30px 0 0 0;
}

.nav-elements a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
  padding-bottom: 2px;
}

.nav-elements a:hover {
  border-bottom: 1px solid #fff;
}

.nav-elements li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.nav-elements-blue {
  float: right;
  padding: 30px 0 0 0;
}

.nav-elements-blue a {
  color: #050082;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
  padding-bottom: 2px;
}

.nav-elements-blue a:hover {
  border-bottom: 1px solid #050082;
}

.nav-elements-blue li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.button-pad {
  margin-right: 30px;
}

.bg-wrap {
  background-image: url("../images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.name-headline {
  color: #DCDCDC;
  padding: 80px 0 10px 0;
}

.name-headline span {
  color: #7C4FF8;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.subhead-hero {
  color: #DCDCDC;
  font-weight: 300;
  padding: 0 0 80px 0;
}

.grey-arrow {
  color: #DCDCDC;
  font-size: 3.3em;
  padding: 120px 0 0 0;
}

.blue-arrow {
  color: #050082;
  font-size: 3.3em;
  padding: 120px 0 0 0;
}

/*link styling*/

.gen-body-link {
  color: #7C4FF8;
  transition: 0.2s ease-out;
}

.gen-body-link:hover {
  color: #2e0b90;
  text-decoration: none;
}

/*button styling*/

.primary-btn {
  padding: 12px 40px 12px 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  position: relative;
  background-image: linear-gradient(261deg, #ac77ff, #7442ff);
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
}

.navy-btn-solid {
  padding: 12px 40px 12px 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  position: relative;
  background-color: #050082;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  transition: 0.3s;
}

.navy-btn-solid:hover {
  color: #050082;
  border: 1px solid #050082;
  background-color: transparent;
}

.navy-btn-ghost {
  padding: 12px 40px 12px 40px;
  color: #050082;
  border: 1px solid #050082;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 28px;
  position: relative;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  transition: 0.3s;
}

.navy-btn-ghost:hover {
  color: #fff;
  background-color: #050082;
}

.orange-btn-solid:hover {
  color: #fff;
  border: 1px solid #EC4917;
  background-color: transparent;
}

.orange-btn-solid {
  padding: 12px 40px 12px 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  position: relative;
  background-color: #EC4917;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  transition: 0.3s;
}

.orange-btn-solid:hover {
  color: #EC4917;
  border: 1px solid #EC4917;
  background-color: transparent;
}

.orange-btn-ghost {
  padding: 12px 40px 12px 40px;
  color: #EC4917;
  border: 1px solid #EC4917;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 28px;
  position: relative;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  transition: 0.3s;
}

.orange-btn-ghost:hover {
  color: #fff;
  background-color: #EC4917;
}

/*purp button styling */
.purp-btn-solid:hover {
  color: #fff;
  border: 1px solid #5300B7;
  background-color: transparent;
}

.purp-btn-solid {
  padding: 12px 40px 12px 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  position: relative;
  background-color: #5300B7;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  transition: 0.3s;
}

.purp-btn-solid:hover {
  color: #5300B7;
  border: 1px solid #5300B7;
  background-color: transparent;
}

.purp-btn-ghost {
  padding: 12px 40px 12px 40px;
  color: #5300B7;
  border: 1px solid #5300B7;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 28px;
  position: relative;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  transition: 0.3s;
}

.purp-btn-ghost:hover {
  color: #fff;
  background-color: #5300B7;
}


.blue-btn-solid {
  padding: 12px 40px 12px 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 28px;
  position: relative;
  background-color: #3F76E6;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  transition: 0.3s;
}

.blue-btn-solid:hover {
  color: #3F76E6;
  border: 1px solid #3F76E6;
  background-color: transparent;
}

.blue-btn-ghost {
  padding: 12px 40px 12px 40px;
  color: #3F76E6;
  border: 1px solid #3F76E6;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 28px;
  position: relative;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  transition: 0.3s;
}

.blue-btn-ghost:hover {
  color: #fff;
  background-color: #3F76E6;
}

.primary-btn:hover{
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.primary-btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-image: linear-gradient(81deg, #ac77ff, #7442ff);
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}

.primary-btn:hover:after {
  opacity: 1;
}

.primary-btn span {
  position: relative;
  z-index: 3;
}

.secondary-btn {
  padding: 12px 40px 12px 40px;
  border-radius: 28px;
  background-image: linear-gradient(254deg, #e9dfff, #cebcff);
  color: #7C4FF8;
  position: relative;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
}

.secondary-btn:hover{
  color: #7C4FF8;
  text-decoration: none;
}

.secondary-btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-image: linear-gradient(74deg, #fff, #cebcff);
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}

.secondary-btn:hover:after {
  opacity: 1;
}

.secondary-btn span {
  position: relative;
  z-index: 3;
}

.tertiary-btn {
  background-color: transparent;
  padding: 12px 40px 12px 40px;
  border-radius: 28px;
  border: 1px solid #7B49FF;
  color: #7B49FF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  transition: 0.2s ease;
}

.tertiary-btn:hover {
  text-decoration: none;
  color: #fff;
}

.tertiary-btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-image: linear-gradient(81deg, #ac77ff, #7442ff);
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}

.tertiary-btn:hover:after {
  opacity: 1;
}

.tertiary-btn span {
  position: relative;
  z-index: 3;
}

/*Bio styling */

.summary {
  color: #868686;
  font-weight: 300;
  line-height: 2rem;
  margin-top: 50px;
}

.pull-indent {
  margin-top: 40px;
  border-left: 3px solid #7C4FF8;
  color: #868686;
}

.tyler {
  display: inline;
  text-align: center;
}

.tyler img {
  width: 200px;
}

/*Home page work styles */
.work-wrap {
  background-image: url("../images/port-bg2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  max-width: 100%;
  height: 2900px;
}

.projects-header {
  margin: 250px 0 0 0;
  text-align: center;
  color: #7C4FF8;
  font-weight: 900;
}

hr {
  border-top: 2px solid #7C4FF8;
  width: 80px;
  padding-bottom: 75px;
}

.client-name {
  color: #868686;
  margin-bottom: 5px;
}

.project-name {
  color: #868686;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 3.3rem;
}

.project-summary {
  font-weight: 300;
  color: #868686;
  margin-bottom: 80px;
}

.afs-preview {
  background-image: linear-gradient(314deg, #A5C1FB, #3C7AF6);
  height: 480px;
  z-index: 1;
  position: relative;
}

.afs-preview img {
  width: 540px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.full-width {
  width: 100%;
}

.brunch-preview {
  background-image: linear-gradient(314deg, #FF6A31, #FFB86B);
  height: 480px;
  z-index: 1;
  position: relative;
}

.brunch-preview img {
  width: 490px;
  position: absolute;
  bottom: 25px;
  left: 40px;
}

.h-inn-preview {
  background-image: linear-gradient(314deg, #8ED6F2, #8EEAF2);
  height: 480px;
  z-index: 1;
  position: relative;
}

.h-inn-preview img {
  width: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.supply-mgmt-preview {
  background-image: linear-gradient(314deg, #5300b74d, #8E81F4);
  height: 480px;
  z-index: 1;
  position: relative;
}

.supply-mgmt-preview img {
  width: 430px;
  position: absolute;
  bottom: 10px;
  left: 50px;
}

.preview-pad {
  padding-top: 50px;
}

/*Footer styling*/

.pseudo-foot {
  background-color: #E1E1E1;
  padding: 30px 0 50px 0;
}

.sign-off {
  color: #7B49FF;
  font-weight: 500;
  padding-bottom: 20px;
}

.sign-off-navy {
  color: #050082;
  font-weight: 500;
  padding-bottom: 20px;
}

.sign-off-blue {
  color: #3F76E6;
  font-weight: 500;
  padding-bottom: 20px;
}

.sign-off-orange {
  color: #EC4917;
  font-weight: 500;
  padding-bottom: 20px;
}

.sign-off-purp {
  color: #5300B7;
  font-weight: 500;
  padding-bottom: 20px;
}

.foot-home {
  background-image: linear-gradient(261deg, #ac77ff, #7442ff);
  color: #fff;
  padding: 20px 0 10px 0;
}

.foot-home a {
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: 0.2s ease;
}

.foot-home a:hover {
  border-bottom: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}

.foot-case {
  background-color: #a2a2a2;
  color: #fff;
  padding: 20px 0 10px 0;
}

.foot-case a {
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: 0.2s ease;
}

.foot-case a:hover {
  border-bottom: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}

/*specific case study styles */

/*ACCENTURE*/

.afs-wrap {
  background-image: url("../images/afs-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-width: 100%;
  height: 800px;
}

.afs-ui-wrap {
  background-color: #558AF6;
  background-image: url("../images/afs-ui-stack.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 550px;
  background-size: 800px;
}

.afs-mobile-wrap {
  background-color: #558AF6;
  background-image: url("../images/afs-mobile-stack.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  background-size: 910px;
}

.case-intro {
  margin-bottom: 50px;
}

.case-title {
  color: #fff;
  padding: 0 0 30px 0;
}

.case-category {
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.8em;
}

.case-value {
  color: #fff;
  font-weight: 300;
}

.afs-hero img{
  width: 300px;
  position: absolute;
  right: 90px;
  top: -150px;
}

.afs-blue {
  color: #3F76E6;
}

.wf-screenshot img{
  width: 350px;
}

.wf-screenshot-lg img{
  width: 540px;
}

.img-caption {
  font-size: 0.8em;
  text-align: center;
}

.mockup-photo {
  width: 100%;
}

.afs-upnext {
  box-shadow: 4px 4px 27px 0 rgba(171, 171, 171, 0.5);
  background-image: linear-gradient(99deg, #3d74e4, #558af6);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 50px;
  transition: 0.25s ease-in;
}

.afs-upnext:hover {
  box-shadow: 20px 19px 27px 0 rgba(171, 171, 171, 0.5);
  transform: translateY(-2px);
}

.brunch-upnext {
  box-shadow: 4px 4px 27px 0 rgba(171, 171, 171, 0.5);
  background-image: linear-gradient(99deg, #FD9F6F, #F97653);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 50px;
  transition: 0.25s ease-in;
}

.brunch-upnext:hover {
  box-shadow: 20px 19px 27px 0 rgba(171, 171, 171, 0.5);
  transform: translateY(-2px);
}

.h-inn-upnext {
  box-shadow: 4px 4px 27px 0 rgba(171, 171, 171, 0.5);
  background-image: linear-gradient(279deg, #8ed6f2, #8eeaf2);
  border-radius: 5px;
  color: #050082;
  text-align: center;
  padding: 50px;
  transition: 0.25s ease-in;
}

.h-inn-upnext:hover {
  box-shadow: 20px 19px 27px 0 rgba(171, 171, 171, 0.5);
  transform: translateY(-2px);
}

.sm-upnext {
  box-shadow: 4px 4px 27px 0 rgba(171, 171, 171, 0.5);
  background-image: linear-gradient(279deg, #815EE3, #8B79F1);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 50px;
  transition: 0.25s ease-in;
}

.sm-upnext:hover {
  box-shadow: 20px 19px 27px 0 rgba(171, 171, 171, 0.5);
  transform: translateY(-2px);
}

/*Brunch*/

.brunch-wrap {
  background-image: url("../images/brunch-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-width: 100%;
  height: 800px;
}

.brunch-hero img {
  width: 500px;
  position: absolute;
  right: 0;
  top: -80px;
}

.brunch-orange {
  color: #EC4917;
}

.brunch-orange-link {
  color: #EC4917;
  transition: 0.2s;
}

.brunch-orange-link:hover {
  text-decoration: none;
  color: #EC4917;
  border-bottom: 1px solid #EC4917;
}

.case-wrap {
  background-image: url("../images/case-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  max-width: 100%;
  height: 2250px;
  padding: 40px 0 0 0;
}

.brunch-trio-wrap {
  background-color: #405182;
  background-image: url("../images/brunch-ipads.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 450px;
  background-size: 1000px;
}

.br-ss img{
  width: 350px;
  box-shadow: 4px 4px 27px 0 rgba(171, 171, 171, 0.5);
}

/*HUMMINGBIRD CASE STUDY STYLING */

.h-inn-wrap {
  background-image: url("../images/h-inn-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-width: 100%;
  height: 800px;
}

.case-title-blue {
  color: #050082;
  padding: 0 0 30px 0;
}

.case-category-blue {
  font-weight: 500;
  color: #050082;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.8em;
}

.case-value-blue {
  color: #050082;
  font-weight: 300;
}

.h-inn-hero img{
  width: 570px;
  position: absolute;
  right: 0;
  top: -170px;
}

.h-inn-blue {
  color: #050082;
}

.h-inn-link {
  color: #050082;
  transition: 0.2s;
}

.h-inn-link:hover {
  text-decoration: none;
  color: #050082;
  border-bottom: 1px solid #050082;
}

.logo-ss img {
  width: 550px;
}

.final-logo img {
  width: 160px;
}

.hi-img-wrap {
  background-image: url("../images/flag-resized.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 500px;
}

.hi-web img{
  width: 1000px;
  padding-bottom: 30px;
}

.hi-mobile-wrap {
  background-color: #b6f7fd;
  background-image: url("../images/hi-mobile-trio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 500px;
}

/* .hi-mobile-wrap img {
  width: 1000px;
} */

/*Supply Mgmt Case Study Styling */

.sm-hero img{
  width: 440px;
  position: absolute;
  right: 0px;
  top: -150px;
}

.sm-wrap {
  background-image: url("../images/sm-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-width: 100%;
  height: 800px;
}

.sm-purp {
  color: #5300B7;
}

/*MEDIA QUERIES BEGIN HERE*/

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media (max-width: 414px) {
    .primary-btn, .secondary-btn, .tertiary-btn {
      padding: 12px 30px 12px 30px;
    }

    .nav-elements a {
      font-size: 0.8em;
    }

    .pb0-mobile {
      padding-bottom: 0;
    }

    h1 {
      font-size: 2.7em;
    }

    p {
      font-size: 0.9em;
    }

    .mobile-top-pad {
      padding-top: 20px;
    }

    .button-pad {
      margin-right: 15px;
    }

    .name-headline {
      padding-top: 40px;
    }
    .subhead-hero {
      padding-bottom: 50px;
    }
    .grey-arrow {
      padding-top: 60px;
    }
    .summary {
      margin-top: -50px;
    }
    .tyler {
      padding: 30px 0 70px 0;
    }
    .work-wrap {
      height: auto;
      background-image: none;
    }
    .projects-header {
      margin-top: 50px;
    }
    .afs-preview img {
      left: -40px;
      width: 540px;
    }
    .brunch-preview {
      height: 350px;
    }
    .brunch-preview img {
      width: 350px;
      position: absolute;
      bottom: 20px;
      left: 30px;
    }
    hr {
      padding-bottom: 25px;
    }
    .h-inn-preview img {
      width: 460px;
      left: -15px;
    }
    .h-inn-preview {
      height: 410px;
    }
    .pseudo-foot {
      margin-top: 50px;
    }
}
